p{
    /*字体从前到后查找，取决于客户端上是否安装了对应的额字体*/
    font-family: Helvetica, "Times New Roman", Times, Serif;
    font-size: 1.2em;
}

h1{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    /*font-size: 2em;*/
}
p.important {
    font-size: 1.5em;
    font-style: italic;
    font-weight: bolder;
    font-kerning: none;
}

h3.bigger {
    font-size: 2.5em;
}

.typewriter {
    font-family: "Courier New", Courier, Monospaced;
}

.emphasized{
    font-style: italic;
}

.standout{
    color: #cc0000
}

p.spacey{
    letter-spacing: -.01em;
    word-spacing: 1em;
    line-height: 2.4em;
}

img.has-own-line {
    display: block;
}

h1 {
    text-align: center;
}

p{
    text-align: left;
    text-indent: 1em;
}

p.pretty{
    text-align: justify;
}

blockquote {
    font-size: 1em;
    color: grey;
}

p.offset {
    margin: 0 2em 0 1.75em;
}

p.boxed {
    border: 5px solid red;
}
.enclosed{
    border: 4px double pink;
}

h4, p.mid{
    text-align: left;
}

#special{
    font-size: 1.5em;
    font-style: italic;
}

div#main{
    font-size: 1.1em;
    margin: .1em .2em .2em .2em;
}

div#midpage {
    margin: 0 3em 0 3em;
    font-family: Arial, Helvetica, sans-serif;
}

img.inset {
    margin-left: 5em;
}
img.smack-in-the-middle{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.fl {
    float: left;
    margin-right: .5em;
}

p.clr{
    clear: both;
}

a {
    color: #b8860b;
}

a:hover{
    font-weight: bolder;
    text-decoration: none;
}

a:active{
    font-size: 1.25em;
}

a:visited{
    color: deeppink;
}

ul{
    margin: 0 1.5em 0 1.5em;
    list-style-type: lower-roman;
    /*list-style-image: url("");*/

}

ol{
    margin: 0 1.5em 0 1.5em;
    list-style-type: upper-alpha;
}

/*li{*/
    /*margin: .75em;*/
/*}*/

ul{
    list-style-position: inside;
}

th.top-row {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

table.standout{
    border-left: 5px solid orange;
    border-right: 5px solid orange;
}

tr.even {
    background-color: lavender;
}
table#t4 {
    width: 25%;
}
table#t4 td {
    width: 50%
}
table#t4 td {
    text-align: center;
}
tr.even {
    background-color: lavender;
}
input[type="text"] {
    font-size: 2em;
    padding: .25em;
}


div#narrow {
    width: 20%;
    margin: 0 auto 0 auto;
    background-image: url("http://www.asmarterwaytolearn.com/gray-gradient-slice.png");
    background-repeat: repeat-x;
}
div#content {
    width: 68%;
    float: left;
    color: red;
}
div#sidebar {
    width: 29%;
    float: right;
}
div#banner {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 2em;
    font-weight: bolder;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: red;
    color: white;
    margin-left: 2%;
}

div#banner img, div#spacer img {
    float: left;
    margin: 1em;
}
div#banner h2, div#spacer h2 {
}
div#spacer {
    width: 100%;
    visibility: hidden;
}
p.clearFloat {
    clear: both;
}

div#navbar {
    /*background-color: cadetblue;*/
    clear: both;
    /*display: inline-block;*/
    width: 100%;
}

div#navbar ul {
    list-style-type: none;
    /*padding-left: 0;*/
}


div#navbar ul li{
    /*background-color: blueviolet;*/
    padding: 0 1em .3em 1em;
    /*margin: 0 0 .25em 0;*/
    display: inline;
    text-align: center;
    float: left;
    margin-right: .5em;
}

div#navbar ul li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: 900;
    display: block;
    text-decoration: none;
    color: white;
}



li.changeBackColor {
    background-color: blueviolet;
}


li.changeBackColor:hover{
    background-color: blue;
}

li.changeBackColor:active{
    background-color: #cc0000;
}

div#jslearn {
    margin-top: 3em;
    clear: both;
}

.hidden {
    display: none;
}