p{
    /*字体从前到后查找，取决于客户端上是否安装了对应的额字体*/
    font-family: Helvetica, "Times New Roman", Times, Serif;
    font-size: 1.2em;
}

h1{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    /*font-size: 2em;*/
}
p.important {
    font-size: 1.5em;
    font-style: italic;
    font-weight: bolder;
    font-kerning: none;
}

h3.bigger {
    font-size: 2.5em;
}

.typewriter {
    font-family: "Courier New", Courier, Monospaced;
}

.emphasized{
    font-style: italic;
}

.standout{
    color: #cc0000
}

p.spacey{
    letter-spacing: -.01em;
    word-spacing: 1em;
    line-height: 2.4em;
}

img.has-own-line {
    display: block;
}

h1 {
    text-align: center;
}

p{
    text-align: left;
    text-indent: 1em;
}

p.pretty{
    text-align: justify;
}

blockquote {
    font-size: 1em;
    color: grey;
}

p.offset {
    margin: 0 2em 0 1.75em;
}

p.boxed {
    border: 5px solid red;
}
.enclosed{
    border: 4px double pink;
}

h4, p.mid{
    text-align: left;
}

#special{
    font-size: 1.5em;
    font-style: italic;
}

div#main{
    font-size: 1.1em;
    margin: .1em .2em .2em .2em;
}

div#midpage {
    margin: 0 3em 0 3em;
    font-family: Arial, Helvetica, sans-serif;
}

img.inset {
    margin-left: 5em;
}
img.smack-in-the-middle{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.fl {
    float: left;
    margin-right: .5em;
}

p.clr{
    clear: both;
}

a {
    color: #b8860b;
}

a:hover{
    font-weight: bolder;
    text-decoration: none;
}

a:active{
    font-size: 1.25em;
}

a:visited{
    color: deeppink;
}

ul{
    margin: 0 1.5em 0 1.5em;
    list-style-type: lower-roman;
    /*list-style-image: url("");*/

}

ol{
    margin: 0 1.5em 0 1.5em;
    list-style-type: upper-alpha;
}

/*li{*/
    /*margin: .75em;*/
/*}*/

ul{
    list-style-position: inside;
}